/* .profile_parent_container{
  overflow: hidden;
} */
.profile-container{
    font-family:  'IBM Plex Sans', sans-serif;
    /* font-weight: 600; */
      /* display: flex; */
      width:100%;
      height:70vh;
      /* min-height: fi t-content; */
      background-color: #1C2367;
      color:white;
      margin-bottom:120px;
      overflow: hidden;
    }
    .patient__nav{
      font-weight: 600;
      height:20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width:100%;
    }
    .landing_logo{
      position: absolute;
      transform: translateY(-80px);
      width:100px;
      height:100px;
      margin:30px;
      border: 2px solid  #6766FE;
      border-radius: 50%;
  }
    .patient__list{
      list-style-type: none;
      display: flex;
      /* align-items: center; */
      justify-content: space-around;
    }
    .patient__li{
      margin:20px;
      padding:20px;
      border:1px solid #6766FE;
      border-radius: 10px;
    }
    .patient__li:hover{
      padding:20px;
      background-color: #6766FE;
  
    }
    .patient_bg_design{
        background-image: url('../assets/shape-bg.png');
    }
    .patient__name{
        font-size:50px;
        font-weight: bold;
    }
    .profile_pic{
      width:50%;
      height:50%;
      background-color: url('../assets/profilephoto.jpg');
      /* z-index:3;   */
    }
    .profile_pic{
      transform:translateX(800px) scale(0.8);
      height:50px;
      width:200px;
    }
    .profile___about{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .patient__name{
      font-size: 50px;
      font-weight: bold;
    } 
     .patient__details{
      font-family:  'IBM Plex Sans', sans-serif;
      font-size: 20px;
      /* font-weight: bold; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding:40px;
      margin-top:70px;
      margin-left:200px;
    }
    .card-container{
      font-family:  'IBM Plex Sans', sans-serif;
      font-weight: 900;
        /* font-weight: 1000; */
        display: flex;
        justify-content: center;
    }
    .patient__card{
      position: absolute;
      margin-top:130px;
      background-color: rgb(189, 189, 189);
      border-radius: 10px;
      height:300px;
      width:1400px;
      margin-bottom: 130px;
  }
  .button3{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .btn3{
    border:none;
    padding:30px;
    background-color:#6766FE;
    border-radius: 15px;
    font-size:15px;
   }
  .btn3:hover{
    font-size: 20px;
    color:white;
    background-color:#1C2367;
  }