.container-slider {
    max-width: 700px;
    height: 500px;
    margin: 100px auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* background-color: #d9f0f1; */
    padding: 10px;
    margin-left: 27%;
    background-image: linear-gradient(to left top, #051937, #122e61, #28438d, #4559ba, #686ee9);
    display:flex;  }
    
  @media screen and (max-width: 700px){
    .container-slider {
      margin: 100px 10px 0;
     
    }
  }
  .slide{
    background-color: yellowgreen;
  }