@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
.parent{
  overflow: auto;
}
.profile-container{
    font-family:  'IBM Plex Sans', sans-serif;
    /* font-weight: 600; */
      /* display: flex; */
      width:100%;
      height:70vh;
      /* min-height: fi t-content; */
      background-color: #1C2367;
      color:white;
      margin-bottom:100px;
  
     
    }
    .patient__nav{
      font-weight: 800;
      height:20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width:100%;
    }
    .patient__list{
      list-style-type: none;
      display: flex;
      /* align-items: center; */
      justify-content: space-around;
    }
    .patient__li{
      margin:20px;
      padding:20px;
      border:1px solid #6766FE;
      border-radius: 10px;
    }
    .patient__li:hover{
      padding:20px;
      background-color: #6766FE;
  
    }
    .patient_bg_design{
        background-image: url('./img/8.svg');
    }
    .patient__name{
        font-size:30px;
    }
    .profile_pic{
      width:150%;
      height:150%;
      background-color: url('./img/8.svg');
      /* z-index:3;   */
    }
    .profile_pic{
      transform:translateX(1100px);

      height:100px;
      width:400px;
    }
    .profile___about{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .patient__name{
      font-size: 50px;
      font-weight: bold;

    } 
     .patient__detailser{
      font-family:  'IBM Plex Sans', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding:40px;
      margin-top:-70px;
      margin-left: -35%
      
    }
    .card-container{
      font-family:  'IBM Plex Sans', sans-serif;
      font-weight: 900;
        /* font-weight: 1000; */
        display: flex;
        justify-content: center;
    }
    .patient__card{
      position: absolute;
      margin-top:130px;
      background-color: rgb(189, 189, 189);
      border-radius: 10px;
      height:300px;
      width:1400px;
      margin-bottom: 130px;
  }
  
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn:hover{
    font-size: 20px;;
    color:white;
  }
  .Search-Area
  {
    background-color: rgb(236,236,236);
    padding: 20px;
  }
  .landing_logo{
    position: absolute;
    transform: translateY(-80px);
    width:100px;
    height:100px;
    margin:30px;
    border: 2px solid  #6766FE;
    border-radius: 50%;
}
.border {
  margin: 50px;
  margin-left: 31%;
  position: relative;
  background: linear-gradient( #1C2367,#2752e1);
  width: 610px;
   height: 55px;
  border-radius: 50px;
  padding: 1.5px;
}
.inner {
  background: white;
  padding: 25px;
  border-color: white;
}
.cardly
{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}